interface {{name}}Props {
  // Define your props here
}

export function {{name}}({}: {{name}}Props) {
  return (
    <div>
      <h1>{{name}} Component</h1>
      {/* Your component content here */}
    </div>
  )
}